.MovieRow{
 margin-bottom: 30px;
}
.MovieRow h2{
 margin: 0;
 margin-left: 30px;
}
.movieRow--listarea{
 overflow-x: hidden;
 padding-left: 30px;
}
.movieRow--list{
 transition: all ease 0.5s;
}
.movieRow--item{
 display: inline-block;
 width: 150px;
}
.movieRow--item img{
 width: 100%;
 transform: scale(0.9);
}
.movieRow--item img:hover{
 transform: scale(1);
 transition: all ease .2s;
 cursor: pointer;
}
.movieRow--left, .movieRow--right{
 position: absolute;
 width: 40px;
 height: 225px;
 background: rgba(0, 0, 0, 0.6);
 z-index: 99;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 cursor: pointer;
 opacity: 0;
 transition: all .5s;
}
.movieRow--left{
 left: 0;
}
.movieRow--right{
 right: 0;
}
.MovieRow:hover .movieRow--left, 
.MovieRow:hover .movieRow--right{
 opacity: 1;
 transition: all .5s;
}
@media(max-width: 760px){
 .movieRow--left, .movieRow--right{
  opacity: 1;
 }
}